
body{
  /* margin: 0;
  padding: 0; */
}
#main{
  display: flex;
  flex-direction: column;
  box-shadow: 0 rgba(0, 0, 0, 0.2);
  border: 1px solid rgb(226, 226, 224);
  border-radius: 10px;
  width: 900px;
  height: auto;
  margin: 0 auto;
  
}



#form{
  margin: 15px auto;
}

 input{
  height: 30px;
  width: 450px;
  border-radius: 10px;
}
 button{
   width: 150px;
   height: 37px;
   background-color: dodgerblue;
   color: white;
   border-radius: 10px;
 }

#task_list > div{
  box-shadow: 0px rgba(0, 0, 0, 0.2);
  margin: 10px 65px;
}

.listItemId{
  display: none;
}

.listItemContent button{
  margin: 20px
}


li{
  margin: 15px 0;
}

#list_item{
  display: flex;
  flex-direction: row;
  box-shadow: 2px rgba(0, 0, 0, 0.2);
  margin-top: 10px;
}


.listItem{
  display: flex;
  flex-direction: row;
  background-color: whitesmoke;
  border-radius: 5px;

}

#task_list{
  margin-bottom: 10px;
}

.listItemContent{
  flex : 1;/* additionally, equal width */
  
  padding: 1em;
}

#editButton,#deleteButton{
  
  width: 50px;
   height: 37px;
   border-radius: 20%;
}

#editButton{
  background-color: dodgerblue;
  color: white;
  margin-left: 14px;
}

#title{
  margin:0 auto;
}

.parent{
  display: none;
}







